@charset "utf-8";
/* CSS Document */

.preload {
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-color: #FFFFFF;
  background-image: url('../img/carregando4.gif');
  background-size: 534px 300px;
  background-position: center;
  background-repeat: no-repeat;
}
